
    
  body {
    font-family: Arial, Helvetica, sans-serif;
   color: rgb(62, 91, 136);
   background: transparent
   
    
  }
  
  .extendedforecast {
    background: white;
    text-align: center;
  
    line-height: 40px;
    
  }
  
  .temp {
    font-size: 30px;
  }
  .col-2 {
    font-size: large;
  }
  .main-container {
    background-color: red;
 
  
 
  padding: 50x;
  margin: 5px auto;
  border: 4px;
  border-radius: 8px;
  max-width: 500px;
  max-height: 800px;

  text-decoration: white;

    
      
  }
  
  .main-row {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(80, 7, 7);
    
  }
  .current-icon {
    font-size: 150px;
  }
  .current-temp {
    font-size: 100px;
    margin-bottom: 24px;
  }
  .current-temp-deg {
    font-size: 50px;
    line-height: 80px;
    vertical-align: top;
  }
  .max-temp-col {
    border-right: 1px solid black;
    text-align: right;
  }
  .current-stats {
    color: #da610b;
  }
  .forecast-day {
    text-align: center;
    margin-bottom: 0;
  }
  .forecast-card {
    margin-top: 130px;
    margin-bottom: 300px;
    margin-right: 200px;
    margin-left: 200px;
    background:url(https://media0.giphy.com/media/l41lQIclE3lItAlfq/giphy.gif?); background-repeat: no repeat; background-size: cover;
    
    
    
            
    
  }
  .forecast-card > .card-header {
    background: rgb(238, 243, 213);
    font-size: 30px;
    text-align: center;
    text-decoration: #da610b;
  }
  
  
  .Weather-App:hover{
    text-decoration: underline;
    color: black;
    text-align: center;
}

    

.container{
  color: red ;
}


footer{

  text-align: center;
}



.weather-forecast {
  text-align: center;
}

.weather-forecast-date, .weather-forecast-temp-min {
  text-decoration: rgb(243, 237, 237);
  color: white;
}

#current-temp {
  font-size: 60px;
  text-decoration: white;
}

.unitStyle {
  position: relative;
  right: -56px;
  top: -64px;
}

.active {
  color: white;
  text-decoration: none;
  cursor: default;
}
.row{
  color: white;
  text-decoration: white;
}
.col-6{
  color:white
}
.form-control{
border-color: darkgray;
text-decoration: blueviolet;
box-sizing: border-box;
width: 420px;
border-radius: 6px;
}
.btn {
border-radius: 6px;
color: white;
background-color: rgb(162, 192, 188);
  
  
}
