
    
  body {
    font-family: Arial, Helvetica, sans-serif;
   color: rgb(62, 91, 136);
  
   background: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
   
  
   
    
  }
  
  
  .extendedforecast {
    background: white;
    text-align: center;
  
    line-height: 40px;
    
  }
  
  .temp {
    font-size: 30px;
  }
  .col-2 {
    font-size: large;
  }
  .main-container {
    background-color: red;
 
  
 
  padding: 50px;
  margin: 5px auto;
  border: 4px;
  border-radius: 8px;
 

  text-decoration: white;

    
      
  }
  
  .main-row {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(80, 7, 7);
    
  }
  .current-icon {
    font-size: 150px;
  }
  .current-temp {
    font-size: 100px;
    margin-bottom: 24px;
  }
  .current-temp-deg {
    font-size: 50px;
    line-height: 80px;
    vertical-align: top;
  }
  .max-temp-col {
    border-right: 1px solid black;
    text-align: right;
  }
  .current-stats {
    color: #da610b;
  }
  .forecast-day {
    text-align: center;
    margin-bottom: 0;
  }
  .forecast-card {
    margin-top: 130px;
    margin-bottom: 300px;
    margin-right: 200px;
    margin-left: 200px;
    border-radius: 6px;
    border: 30px solid #dadde1;
  
    background:url(https://media0.giphy.com/media/3o6wrm1JXSq5C9EtnG/giphy.gif?); background-repeat: no repeat; background-size: cover;
    box-sizing: border-box;
   
    
    
    
            
    
  }
  .forecast-card > .card-header {
    background: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    border-radius: 2px;
    font-size: 30px;
    text-align: center;
    text-decoration: #da610b;

  }
  
  
  .Weather-App:hover{
    text-decoration: underline;
    color: black;
    text-align: center;
}

    

.container{
  color: red ;
}


footer{

  text-align: center;
}



.weather-forecast {
  text-align: center;
}

.weather-forecast-date, .weather-forecast-temp-min {
  text-decoration: rgb(243, 237, 237);
  color: white;
}

#current-temp {
  font-size: 60px;
  text-decoration: white;
}

.unitStyle {
  position: relative;
  right: -56px;
  top: -64px;
}

.active {
  color: white;
  text-decoration: none;
  cursor: default;
}
.row{
  color: white;
  text-decoration: white;
}
.col-6{
  color:white
}
.form-control{
border-color: darkgray;
text-decoration: blueviolet;
box-sizing: border-box;
width: 420px;
border-radius: 8px;
}
.btn {
border-radius: 6px;
color: white;
background: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  
  
}


a {
  color: darkblue;
}

p{

  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1018.cur), auto !important;} /* End https://www.cursors-4u.com */
background:url(https://media0.giphy.com/media/l41lQIclE3lItAlfq/giphy.gif?); background-repeat: no repeat; background-size: cover;